$ cat .gitignore

# File Types
*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.avi
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dat
*.dvi
*.exp
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.png
*.r2015b
*.slx.*
*.slxc
*.sublime-workspace
*.sublime-project
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.tws
*.vtp
*.zip

# MATLAB
**/output/
**/output_previous/
**/slprj/
*build_exception*

# Applications
**/mooring/*.out
!**/mooring/lines.txt
**/vtk/*
savedData*.mat
WECCCOMP/**/SS*.mat
WECCCOMP/**/SS*.fig
!WECCCOMP/WECCCOMP_Nonlinear_Model_Predictive/waveData/*.mat
Passive_Yaw/**/IrrYaw.mat
Passive_Yaw/**/figYawIrr.fig
yaw*.mat

# BEM
*.1
*.3
*.3fk
*.3sc
*.4
*.h5
*.hst
*.p2f
*.pot
!/Generalized_Body_Modes/hydroData/WAMIT/*
!/Mean_Drift/WAMIT/inputFiles/*
!/Mean_Drift/WAMIT/outputFiles/*
!/OWC/OrificeModel/OrificeModel/hydroData/*.h5

# Other
.DS_Store
view_html.sh
*vis-temp*
folder.json
include.json
