$ cat .gitignore

# File Types
*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.avi
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dvi
*.exp
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.png
*.r2015b
*.slx.r2015b
*.slx.r2016a
*.slxc
*.sublime-workspace
*.sublime-project
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vtp
*.zip

# MATLAB
**/output/
**/output_previous/
**/slprj/
*build_exception*

# Applications
/RM3_MCR/**/*.mat
**/mooring/*.out
!**/mooring/lines.txt
!/RM3_MCR/RM3_MCROPT3/mcrExample.mat
!/RM3_MCR/RM3_MCROPT3_SeaState/mcrExample.mat
**/vtk/*

# Other
.DS_Store
view_html.sh
*vis-temp*
