$ cat .gitignore

# File Types
*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.avi
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dvi
*.exp
*.fig
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.png
*.r2015b
*.slx.r*
*.slxc
*.sublime-workspace
*.sublime-project
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vtp
*.zip

# MATLAB
**/output/
**/slprj/
*build_exception*
*.mat
!WECCCOMP_ss.mat

# Other
.DS_Store
view_html.sh
*vis-temp*
