# File Extensions
*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.avi
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dvi
*.exp
*.fig
*.gif
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.ppt*
*.slxc
*.sublime-workspace
*.sublime-project
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.tws
*.vtp
*.zip

# MATLAB
**/output/
**/output_previous/
**/slprj/
*build_exception*


# WEC-Sim
simulation.log

# BEMIO
*.h5
**/__pycache__/

#Examples
**.slx.*

