name: Run MATLAB tests on dev branch
on:
  # Trigger the workflow on push or pull requests on the dev branch and on 
  # pushes to WEC-Sim/WEC-Sim dev branch
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
  repository_dispatch:
    types:
      - wecsim-dev
jobs:
  dispatch_event:
    runs-on: windows-latest
    name: Identify dispatch event
    if: github.event_name == 'repository_dispatch'
    steps:
        - run: echo "Triggered by WEC-Sim commit ${{ github.event.client_payload.sha }}"
  run_windows_tests:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        release: [R2020b, R2023a]
        folder: [Body-to-Body_Interactions,
                 Cable,
                 Controls,
                 End_Stops,
                 Free_Decay,
                 Generalized_Body_Modes,
                 Mean_Drift,
                 Mooring,
                 Morison_Element,
                 MOST,
                 Multiple_Condition_Runs,
                 Multiple_Wave_Headings,
                 Nonhydro_Body,
                 Nonlinear_Hydro,
                 Paraview_Visualization,
                 Passive_Yaw,
                 PTO-Sim,
                 Radiation_Force_Options,
                 Wave_Markers,
                 WECCCOMP,
                 Write_Custom_h5]
        include:
          - products: Simulink Simscape Simscape_Multibody
          - release: R2023a
            folder: Desalination
            products: Simulink Simscape Simscape_Multibody Simscape_Fluids
          - folder: Controls
            products: Simulink Simscape Simscape_Multibody Control_System_Toolbox Optimization_Toolbox System_Identification_Toolbox Statistics_and_Machine_Learning_Toolbox Symbolic_Math_Toolbox
          - folder: WECCCOMP
            products: Simulink Simscape Simscape_Multibody Control_System_Toolbox Optimization_Toolbox System_Identification_Toolbox Statistics_and_Machine_Learning_Toolbox 
    name: ${{ matrix.folder }} MATLAB ${{ matrix.release }} on Windows
    steps:
      - name: Check out repository (repository dispatch)
        uses: actions/checkout@v3
        with:
          lfs: true
          ref: 'dev'
        if: github.event_name == 'repository_dispatch'
      - name: Check out repository (push or pull request)
        uses: actions/checkout@v3
        with:
          lfs: true
        if: github.event_name != 'repository_dispatch'
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Check out WEC-Sim
        uses: actions/checkout@v3
        with:
          repository: WEC-Sim/WEC-Sim
          ref: 'dev'
          path: './WEC-Sim'
      - name: Check out MoorDyn
        uses: actions/checkout@v3
        with:
          repository: WEC-Sim/MoorDyn
          path: './MoorDyn'
      - name: Copy MoorDyn Files
        run: |
            cp * ../WEC-Sim/source/functions/moorDyn
            ls ../WEC-Sim/source/functions/moorDyn
        shell: bash
        working-directory: './MoorDyn'
      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v2-beta
        with:
          cache: true
          products: ${{ matrix.products }}
          release: ${{ matrix.release }}
      - name: Start display server
        if: matrix.folder == 'Desalination'
        run: |
          sudo apt-get install xvfb
          Xvfb :99 &
          echo "DISPLAY=:99" >> $GITHUB_ENV
      - name: Install WEC-Sim
        uses: matlab-actions/run-command@v1
        with:
          command: addpath(genpath('WEC-Sim/source'));, savepath pathdef.m;
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-command@v1
        with:
          command: results = wecSimAppTest("${{ matrix.folder }}"), assertSuccess(results);
